@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.button-red {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #FF4500, #FFA500);
    -fx-padding: 10px 20px;
    -fx-font-size: 36px;
    -fx-font-family: 'ZCOOL KuaiLe', sans-serif;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.button-red:hover {
    -fx-background-color: linear-gradient(to right, #FF4500, #FFA500);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 15, 0, 0, 0);
    -fx-translate-y: 2px;
}

.button-yellow {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #FFED01, #FFA500);
    -fx-padding: 10px 20px;
    -fx-font-size: 36px;
    -fx-font-family: 'ZCOOL KuaiLe', sans-serif;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.button-yellow:hover {
    -fx-background-color: linear-gradient(to right, #FFED01, #FFA500);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 15, 0, 0, 0);
    -fx-translate-y: 2px;
}

.button-bubble {
    -fx-font-family: 'Concert One', cursive;
    -fx-text-fill: white;
    -fx-background-color: #42A5F5;
    -fx-background-radius: 9999 9999 9999 9999; /* Oval shape by setting the radius to 50% */
    -fx-padding: 10px 20px;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.5), 0, 0, 0, 5);
}

.label-text {
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.35); /* Semi-transparent black background */
    -fx-padding: 5px 10px;
}

.label-text:hover {
    -fx-translate-y: 2px;
}

.hand-length {
    -fx-text-fill: white; /* Text fill color (white) */
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 28px;
    -fx-effect: dropshadow( one-pass-box , black, 1, 0.0 , 0 , 1);
}

.passed-label {
    -fx-font-family: 'Bangers', cursive;
    -fx-text-fill: linear-gradient(to right, #FFD700, #FFA500);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 5, 5);
    -fx-font-size: 30px
}

.heading {
    -fx-font-family: 'Sigmar One', cursive;
    -fx-font-weight: bold;
    -fx-font-size: 90px;
    -fx-text-fill: #FFD700;
    -fx-effect: dropshadow(gaussian, #00000080, 3, 0, 0, 2);
    -fx-stroke: #000000;
    -fx-stroke-width: 1.5;
}

.normal-text {
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 80px;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, #00000080, 3, 0, 0, 2);
}

.first-place {
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 84px;
    -fx-text-fill: linear-gradient(to right, #ffee01, #ffa500); /* Gradient fill */
    -fx-effect: dropshadow(gaussian, rgba(255, 165, 0, 0.8), 5, 0, 5, 5); /* Orange drop shadow */
}

.small-button {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #FF4500, #FFA500);
    -fx-padding: 10px 20px;
    -fx-font-size: 20px;
    -fx-font-family: 'ZCOOL KuaiLe', sans-serif;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}